PRICE_PROXY_LISTEN=127.0.0.1
PRICE_PROXY_PORT=8000
ESP_BASE_URL=http://192.168.0.24:8080
PUBLIC_API_TOKEN=replace-with-random-public-token
ESP_API_TOKEN=replace-with-esp-token
ESP_FORWARD_TIMEOUT=15
PACMS_BASE_URL=http://127.0.0.1:9000
PACMS_API_KEY=replace-with-pacms-key
